fastapi[all]
uvicorn[standard]
sqlalchemy
psycopg2-binary
pandas
python-jose[cryptography]
python-multipart
passlib[bcrypt]
pytest
pytest-asyncio
httpx
requests
python-dotenv
pydantic[email]
email-validator